/*  your css code here. If applicable */
body{
	background-color: lightgray;
}
h1,p{
	text-align: center;
}

.main{
	display:flex;
	width: 80%;
	background-color:white;
	justify-content: center;
}

.products{
	display: flex;
	flex-direction:column;
}

.product{
	display:flex;
}
.bill-1{
	display:flex;
}
.title{
	color: #3b99e0;
}